{% extends 'admin/layouts/base.html' %}

{% block content %}
<h1 class="mt-4">Tambah Kandungan Buah</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">Tambah Kandungan Buah</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-plus me-1"></i>
        Form Tambah Kandungan Buah
    </div>
    <div class="card-body">
        <form action="/admin/kandungan/store" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="id_buah" class="form-label">Nama Buah</label>
                <select name="id_buah" id="id_buah" class="form-select" required>
                    <option value="" selected disabled>-- Pilih Buah --</option>
                    {% for buah in buah_list %}
                        <option value="{{ buah['id'] }}">{{ buah['nama_buah'] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="kandungan" class="form-label">Manfaat Buah</label>
                <textarea name="kandungan" class="form-control" id="kandungan" rows="4" placeholder="Masukan Manfaat Buah" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
    </div>
</div>
{% endblock %}
