{% extends 'admin/layouts/base.html' %}

{% block content %}
<h1 class="mt-4">Daftar Manfat Buah</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    <li class="breadcrumb-item active">Data Manfaat Buah</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Daftar Permainan Buah
    </div>
    <div class="card-body">
        <a href="/admin/kandungan/create" class="btn btn-success mb-2">Tambah Manfaat Buah</a>
        <div class="table-responsive">
            <table id="datatablesSimple" class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Nama Buah</th>
                        <th>Gambar</th>
                        <th>Manfaat Buah</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.nama_buah }}</td>
                        <td><img src="{{ url_for('static', filename='uploads/buah/' + item.gambar_buah) }}" width="80">
                        </td>
                        <td>{{ item.kandungan }}</td>
                        <td>
                            <a href="/admin/kandungan/edit/{{ item.id }}" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger btn-hapus" data-id="{{ item.id }}">Hapus</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
   document.addEventListener('DOMContentLoaded', function () {
    const tableBody = document.querySelector('#datatablesSimple tbody');

    tableBody.addEventListener('click', function(e) {
        if (e.target.classList.contains('btn-hapus')) {
            e.preventDefault();
            const id = e.target.getAttribute('data-id');

            Swal.fire({
                title: 'Yakin ingin menghapus?',
                text: "Data buah akan dihapus permanen!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#6c757d',
                confirmButtonText: 'Ya, hapus!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/admin/kandungan/delete/${id}`;
                }
            });
        }
    });
});

</script>
{% endblock %}