<nav class="navbar fixed-bottom border-top shadow-sm">
    <div class="container-fluid d-flex justify-content-around">
        <a class="text-center text-decoration-none text-dark" href="/menu">
            <div><i class="fa-solid fa-house"></i></div>
            <small>Menu</small>
        </a>
     
        <a class="text-center text-decoration-none text-dark" href="/tentang">
            <div><i class="fa-solid fa-circle-info"></i></div>
            <small>Tentang</small>
        </a>
        <a class="text-center text-decoration-none text-dark" href="/skor">
            <div><i class="fa-solid fa-ranking-star"></i></div>
            <small>Skor</small>
        </a>
    </div>
</nav>
