{% extends 'admin/layouts/base.html' %}

{% block content %}
<h1 class="mt-4">Daftar Permainan Buah</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    <li class="breadcrumb-item active">Data Buah</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Daftar Permainan Buah
    </div>
    <div class="card-body">
        <a href="/admin/buah/create" class="btn btn-success mb-2">Tambah Data Buah</a>
        <table id="datatablesSimple" class="table table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Buah</th>
                    <th>Gambar</th>
                </tr>
            </thead>
            <tbody>
                {% for buah in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ buah.nama_buah }}</td>
                    <td>
                        <img src="{{ url_for('static', filename='uploads/buah/' ~ buah.gambar_buah) }}" width="100">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% endblock %}
